<% if (group.status == 'approved') { %>
<p>Your registration for a Worm Tracker Group ID has been approved. Your group ID is "<%= group.group_id %>". Now that you have registered a Group ID, members of your group can enter the Group ID on the Submit page of the Worm Tracker app.</p>
<p>If you would like to be able to track the data entered by subsets of your group (e.g. classes within a school or groups within a class) then you can do this by having them enter the group ID followed by a dash and an identifying number. For example, if the Group ID is "MsHamilton" then one group within the class could be assigned the group ID "MsHamilton-1", another group could be "MsHamilton-2".</p>
<p>If you have any questions about setting up Group ID's or using subgroup ID's please contact <a href="mailto:worms@ualberta.ca">worms@ualberta.ca</a>.</p>
<% } else {%>
  <p>We are unable to approve your registration for a Worm Tracker Group ID based on the information provided. Please contact <a href="mailto:worms@ualberta.ca">worms@ualberta.ca</a> for more information.</p>
<% } %>